# Question-1   Assignment For Test Of Hypothesis......
# Here Is Question.....

#A F&B manager wants to determine
#whether there is any significant difference in the diameter of the 
#cutlet between two units. A randomly selected sample of cutlets was 
#collected from both units and measured? Analyze the data and draw inferences
#at 5% significance level. Please state the assumptions and tests that you carried out to 
#check validity of the assumptions.

In [16]:
# Lets Assume that
#Assume Null hyposthesis as Ho: μ1 = μ2 (There is no difference in diameters of cutlets
#between two units).

#Thus Alternate hypothesis as Ha: μ1 ≠ μ2 
#(There is significant difference in diameters of cutlets between two units) 
#2 Sample 2 Tail test applicable

In [17]:
import pandas as pd

In [18]:
df=pd.read_csv("D:/Cutlets.csv")

In [19]:
df

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [20]:
print("The Mean of A unit A Will be : ",df["Unit A"].mean())
print(" The Mean Of A Unit B Will be : ",df["Unit B"].mean())


from scipy import stats
ztest ,pval = stats.ttest_ind(df['Unit A'],df['Unit B']) # By default equal_var = False

print("Zcalcualted value is ",ztest.round(4))
print("P-value value is ",pval.round(4))

if pval<0.05:
    print("reject null hypothesis, accepte alternative hypothesis")
else:
    print("accept null hypothesis, reject alternative hypothesis")

The Mean of A unit A Will be :  7.01909142857143
 The Mean Of A Unit B Will be :  6.964297142857142
Zcalcualted value is  0.7229
P-value value is  0.4722
accept null hypothesis, reject alternative hypothesis

In [21]:
#Null hyposthesis is Accepted so we can say  There is no difference in diameters of cutlets......

# Question-2-A hospital wants to determine whether there is any difference in the average Turn Around 
#Time (TAT) of reports of the laboratories on their preferred list. They collected a random 
#sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to 
#report dispatch. Analyze the data and determine whether there is any difference in average TAT
#among the different laboratories at 5% significance level.

In [22]:
#Lets Assume That .....
#Anova ftest statistics: Analysis of varaince between more than 2 samples 
#or columns Assume Null Hypothesis Ho as No Varaince: All samples TAT population means are same

#Thus Alternate Hypothesis H1 as It has Variance: Atleast one sample 
#TAT population mean is different

In [23]:
import pandas as pd

In [24]:
df2=pd.read_csv("D:/LabTAT.csv")

In [25]:
df2

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [26]:
t1=df2["Laboratory 1"]
t2=df2["Laboratory 2"]
t3=df2["Laboratory 3"]
t4=df2["Laboratory 4"]

In [27]:
import scipy.stats as stats

In [28]:
Fcalc, p = stats.f_oneway(t1,t2,t3,t4)
Fcalc
p

alpha = 0.05

if p < alpha:
    print("h0 is rejected and h1 is accepted")
else:
    print("h0 is accepted and h1 is rejected")

h0 is rejected and h1 is accepted

In [29]:
# Alternative Hypothesis Is Accepted thus Atleast one sample 
#TAT population mean is different..................

# Question-4.TeleCall uses 4 centers around the globe to process customer order forms.
# They audit a certain % ofthe customer order forms.
# Any error in order form renders it defective and has to be reworked beforeprocessing. 
# The manager wants to check whether the defective % varies by centre. Please analyzethe data at
# 5%
# significance level and help the manager draw appropriate inferences
# Solutions:Input are 4 discrete variables(phillippines, Indonesia, Malta, India)
#     And output is also discrete we are trying to find out whether the defective percentage varies 
#     by centre
#     Ho= % of defective of all countries are equal i.e % Phillipness=%Indonesia=%Malta=%India
    
#    H1 =at lest one defective% is not equalHere

In [30]:
import pandas as pd
from scipy import stats as stats
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [31]:
d=pd.read_csv("D:/Costomer+OrderForm.csv")

In [32]:
d

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [33]:
d["Phillippines"].value_counts(),d["Indonesia"].value_counts(),d["Malta"].value_counts(),d["India"].value_counts(),

(Error Free    271
 Defective      29
 Name: Phillippines, dtype: int64,
 Error Free    267
 Defective      33
 Name: Indonesia, dtype: int64,
 Error Free    269
 Defective      31
 Name: Malta, dtype: int64,
 Error Free    280
 Defective      20
 Name: India, dtype: int64)

In [34]:
observed=([29,33,31,20],[271,267,269,280])

In [35]:
observed

([29, 33, 31, 20], [271, 267, 269, 280])

In [36]:
stat, p_val, dof, expected = chi2_contingency([[271,267,269,280],[29,33,31,20]])

In [37]:
print(stat)
print(p_val)
print(dof)
print(expected)

3.858960685820355
0.2771020991233135
3
[[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [38]:
alpha = 0.05
prob=1-alpha
critical = chi2.ppf(prob, dof)
print('probability= %.3f, critical=%.3f, stat=%.3f' %(prob, critical, stat))
if stat >= critical:
      print("h0 is rejected and h1 is accepted")
else:
    print("h0 is accepted and h1 is rejected")

probability= 0.950, critical=7.815, stat=3.859
h0 is accepted and h1 is rejected

In [39]:
if p_val <= alpha:
    print("h0 is rejected and h1 is accepted")
else:
    print("h0 is accepted and h1 is rejected")

h0 is accepted and h1 is rejected

In [40]:
# p-value is 0.277>0.05 p high Ho fly hence accept null hypothesis i.e 
# percentage defective in all countries are equal inferences: 
# as defective percentage is same in all countries there is no need of any action .

# Question-3--->Sales of products in four different regions is tabulated for males and females. 
Find if male-female buyer rations are similar across regions.
  lets imagine--h0=male and female buyer rations are similar across all regions
                h1=male and female buyer rations are not similar across all regions

In [41]:

import pandas as pd
from scipy import stats as stats
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [42]:
df=pd.read_csv("D:/BuyerRatio.csv")

In [43]:
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [44]:
df_table=df.iloc[:,1:6]
df_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [45]:
df_table.values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [46]:
stat, p_val, dof, expected = chi2_contingency([[50,142,131,70],[435,1523,1356,750]])

In [47]:
print(stat)
print(p_val)
print(dof)
print(expected)

1.595945538661058
0.6603094907091882
3
[[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [48]:
alpha = 0.05
prob=1-alpha
critical = chi2.ppf(prob, dof)
print('probability= %.3f, critical=%.3f, stat=%.3f' %(prob, critical, stat))
if stat >= critical:
      print("h0 is rejected and h1 is accepted")
else:
    print("h0 is accepted and h1 is rejected")

probability= 0.950, critical=7.815, stat=1.596
h0 is accepted and h1 is rejected

In [50]:
if p_val <= alpha:
    print("h0 is rejected and h1 is accepted")
else:
    print("h0 is accepted and h1 is rejected")

h0 is accepted and h1 is rejected